body{
    background: url(/assets/img/working\ girl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:none;
    
}

img{
    width: 100%;
}

.navbar{
    background-color: ;
}