body{
    background: url(/assets/img/working\ girl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: none;
    opacity: 5;
    
}

img{
    width: 100%;
}

.navbar{ 
    z-index: 100;
    position: sticky;
}
.navbar .

.card{
    background: #926868;
    color: #e01313e4;

}